:root {
    font-size: 62.5%;
    --general-theme-bgcolor: #FFF;
    --general-theme-color: #000;
    --general-theme-font: sans-serif;
    --special-theme-bgcolor: #333041;
    --special-theme-color: #FFF;
    --fade-theme-color: #bccbde;
    --heading-font-size: 2rem;
    --title-font-size: 1.8rem;
    --subtitle-font-size: 1.6rem;
    --text-font-size: 1.4rem;
    --subtext-font-size: 1.2rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto 1fr;
}

.container div {
    padding: 1.5rem;
    font-size: 2rem;
    font-family: var(--general-theme-font);
}

img,
button {
    border: none;
    cursor: pointer;
}

img.icon {
    height: 2rem;
}

img.avatar {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    grid-row: 1 / -1;
}

img.avatar.bigger {
    width: 6rem;
    height: 6rem;
}

button.settings {
    background-color: var(--special-theme-bgcolor);
    color: var(--special-theme-color);
    height: auto;
    text-align: start;
    font-size: var(--subtitle-font-size);
}

button.actions {
    width: 8rem;
    height: 3rem;
    font-weight: bold;
    border-radius: 2rem;
}

button.account {
    width: auto;
    height: 3rem;
    font-size: var(--subtitle-font-size);
}

button:active {
    transform: scale(0.97);
}

.heading {
    font-size: var(--heading-font-size);
    font-weight: bold;
}

.title {
    font-size: var(--title-font-size);
    grid-column: 1 / -1;
}

.subtitle {
    font-size: var(--subtitle-font-size);
    font-weight: bold;
}

.text {
    font-size: var(--text-font-size);
}

.subtext {
    font-size: var(--subtext-font-size);
}

div.sidebar {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    background-color: var(--special-theme-bgcolor);
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

div.dashboard {
    color: var(--special-theme-color);
    display: grid;
    grid-template-columns: 3rem 1fr;
    gap: 3rem;
    padding: 0;
}

div.header {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 2fr 1fr;
    padding: 0;
}

div.search {
    grid-column: 1 / 2;
    display: flex;
    gap: 2rem;
}

input[type="search"] {
    background-color: var(--fade-theme-color);
    height: 3rem;
    border: none;
    border-radius: 2rem;
    flex: 1;
}

div.info {
    grid-column: 2 / 3;
    display: flex;
    gap: 1rem;
    place-items: center;
    justify-content: space-evenly;
}

div.greeting {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 2rem;
    place-items: center;
}

div.share {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
    gap: 2rem;
    place-items: center;
}

div.main {
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: 3fr 1fr;
    background-color: var(--fade-theme-color);
}

div.projects {
    /* grid-column: 1 / 2; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    grid-template-rows: auto 1fr;
    grid-auto-rows: 1fr;
    gap: 1rem;
    padding: 0;
}

.projects .card {
    background-color: var(--general-theme-bgcolor);
    color: var(--general-theme-color);
    height: 20rem;
    border-radius: 2rem;
}

.card p {
    color: var(--general-theme-color);
    padding: 1rem;
}

div.bulletin {
    /* grid-column: 2 / 3; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    grid-template-rows: repeat(2, auto);
    gap: 2rem;
    padding: 0;
}

div.announcements {
    grid-row: 1 / 2;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-auto-rows: 1fr;
    padding: 0 2rem;
    gap: 1rem;
}

div.trending {
    grid-row: 2 / 3;
}

div.section {
    background-color: var(--general-theme-bgcolor);
    color: var(--general-theme-color);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 25rem));
    border-radius: 2rem;
}

div.connection {
    background-color: var(--general-theme-bgcolor);
    color: var(--general-theme-color);
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: repeat(2, 1fr);
    gap: .5rem;
    place-items: center;
    border-radius: 2rem;
}